aside{
    float: left;
    width: 300px;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 5px #ccc;
    padding: 30px;
}

aside h3{
    font-size: 18px;
    color: white;
    background: var(--primary-color-dark);
    text-align: center;
    padding: 5px;
    font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.rating-conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.rating{
    position: relative;
    display: flex;
    padding: 30px 40px;
    gap: 5px;
    flex-direction: row-reverse;
}

.rating input{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.rating input::before {
    content: '\f005';
    position: absolute;
    font-family: "fontAwesome";
    font-size: 34px;
    color:var(--primary-color);
    transition: .5s;
}
.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before{

    color: var(--primary-color-dark);

}

.widget{
    margin-bottom: 50px;
}

.widget form input[type = "email"],.widget form input[type = "password"]{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;

}

#rating-button{
    width: 100%;
    color: white;
    background: var(--secundary-color);
    padding: 10px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}


.widget ul{
    list-style-type: circle;
    padding-left: 20px;
}

.widget ul li{
    margin: 15px 0;
}

.widget blockquote{
    margin: 0;
    font-style: italic;
}

@media(max-width: 700px){
    aside{
        width: 100%;
        height: auto;
    }

}