* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-family:"NunitoSans-Regular", Arial, Helvetica, sans-serif;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2); /* Gradiente blanco a gris */
    overflow-y: auto; /* Permitimos el desplazamiento vertical si es necesario */

}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: 100%; /* Ocupa todo el alto del contenedor padre */
    position: relative; /* Posiciona el contenedor del spinner respecto a su contenedor padre */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: var(--primary-color-dark);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





#container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: var(--secundary-color);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover{
    color: var(--secundary-color-dark);
}