@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url("../fonts/NunitoSans-Bold.ttf");
}

@font-face {
    font-family: "fontAwesome";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
}