footer{
    float: left;
    width: 100%;
    background: var(--secundary-color-dark);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 40px;
}

footer a{
    color: white;
}

footer a:hover{
    color: #ccc;
}


footer div{
    margin-bottom: 10px;
}