@import "./fonts.css";
@import "./common.css";
@import "./header.css";
@import "./colors.css";
@import "./main-menu.css";
@import "./aside.css";
@import "./content.css";
@import "./footer.css";
@import "./stands.css";